In [1]:
import pandas as pd

In [3]:
file = pd.read_csv("books.csv")

In [17]:
file

                           Title               Author       Genre Read  Price
0  The Smartest Guys In The Room       Bethany McLean    Buisness   No   9.99
1               Why I Am So Wise  Friedrich Nietesche  Philosophy   No   4.99
2        The Sickness Onto Death    Soren Kierkegaard  Philosophy   No   4.99
3         Short Cut Your Startup          Carter Reum    Buisness   No   9.99
4              Touching the Void          Joe Simpson   Adventure  Yes   9.99
5                  Into Thin Air        John Krakauer   Adventure  Yes   9.99
6          The Road To Unfreedom       Timothy Snyder    Politics  Yes  10.99
7              12 Rules for Life   Jordan B. Peterson  Philosophy  Yes   9.99
8                Hitler's Empire         Mark Mazower     History   No  14.99
9            Lords of the Desert           James Barr    Politics   No   9.99

In [28]:
count = 0
value = 0
n = len(file.Price)

for i in range(0,n):
    if file.loc[i,'Read'] == "Yes":
        count = count + 1
    value = value + file.loc[i,'Price']
    

    
print("You've read: ",(count/n)*100,"%")
print("Total Value: $",round(value,3))
print("Average Price: $",round(value/n,3))

You've read:  40.0 %
Total Value: $ 95.9
Average Price: $ 9.59